@import 'src/variable.scss';

.custome-pagination {
  margin: toRem(26) toRem(4) toRem(30);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap-reverse;

  ul {
    padding: 0;
    margin: 0;
  }

  .pagination-wrap {
    margin-top: toRem(12);
    .page-item:not(.disabled) .page-link {
      color: $primary-color;
    }

    .page-item.active .page-link {
      background-color: $primary-color;
      border-color: $primary-color;
      color: $white-text-color;
    }
  }

  .select-products-per-page {
    display: flex;
    align-items: center;
    margin-top: toRem(12);

    .label {
      margin: 0 toRem(10) 0 0;
      white-space: nowrap;
    }
  }

  // @media (max-width: 600px) {
  //   flex-direction: column-reverse;

  //   .pagination-wrap {
  //     margin-top: toRem(12);
  //   }
  // }
}
