@import 'src/variable.scss';

.auth-form-modal {
  .auth-modal-header {
    span {
      font-size: toRem(32);
      text-transform: uppercase;
      text-transform: capitalize;
      font-weight: 600;
    }
  }

  .modal-header,
  .modal-body {
    padding-left: 24px;
    padding-right: 24px;
  }

  .action-wrap {
    display: flex;
    flex-direction: column;
    padding: 0 toRem(24);
    margin: 0 0 toRem(24);

    .btn-item {
      &:first-child {
        background-color: $primary-color;
        border-color: $primary-color;
      }

      &.google {
        background-color: var(--toastify-color-error);
        border-color: var(--toastify-color-error);
      }
    }

    .separate-wrap {
      margin: toRem(16) 0;
      display: flex;
      opacity: 0.2;
      align-items: center;

      .separate-dash {
        height: 1px;
        width: 100%;
        background-color: #888;
      }

      .separate-text {
        text-transform: uppercase;
        margin: 0 toRem(6);
      }
    }
  }

  .change-modal-wrap {
    text-align: center;
    margin: toRem(24);

    .change-modal-item {
      cursor: pointer; 
      opacity: .6;
      transition: .2s;
      margin-top: toRem(8);

      &:hover {
        opacity: .9;
      }
    }
  }

  .modal-footer {
    padding-left: 20px;
    padding-right: 20px;
  }
}
