@import 'src/variable.scss';

.cart-page {
  .cart-page-container {
    margin-top: toRem(20);
    margin-bottom: toRem(30);

    .cart-page-content {
      padding: toRem(16) toRem(20) toRem(20);

      .header {
        margin-bottom: toRem(24);

        .header-wrap {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .total-value {
            font-weight: 600;
            color: $primary-color;
          }
        }
      }

      .cart-page-note {
        min-height: toRem(120);
      }
    }

    .cart-page-btn {
      width: 100%;
      margin: toRem(16) 0;
      padding: toRem(6) toRem(8);
      border-radius: toRem(5);

      font-weight: 600;
      font-size: toRem(16);
      border: 1px solid $primary-color;
      background-color: unset;
      transition: color 0.2s background-color 0.3s;

      &:hover {
        background-color: $primary-color;
        color: $white-text-color;
      }
    }
  }
}
