@import 'src/variable.scss';
.top-nav {
  position: sticky;
  top: 0;
  z-index: $top-nav-zindex;

  ul {
    padding-left: 0;
    margin: 0;
    list-style: none;
  }

  .container {
    position: relative;
    display: flex;
    width: 100%;
    padding: toRem(12) toRem(12);
    text-align: center;

    align-items: center;
    justify-content: space-between;

    .top-nav__branch {
      width: toRem(160);
      position: relative;
      user-select: none;

      display: flex;
      align-items: center;

      img {
        width: 100%;
      }
    }
    // end of top nav branch

    .search-wrap {
      flex: 0.9;
      position: relative;

      @media (min-width: 992px) {
        flex: 0.7;
      }

      .search-btn {
        border-top-left-radius: toRem(50);
        border-bottom-left-radius: toRem(50);
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        background-color: $primary-color;
        border-color: $primary-color;
        white-space: nowrap;
      }

      .input-search {
        // padding-left: toRem(90);
        // border-radius: toRem(50);
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: toRem(50);
        border-bottom-right-radius: toRem(50);
      }
    }

    .top-nav-btn-wrap {
      display: flex;

      .top-nav-item {
        cursor: pointer;
        position: relative;
        margin: auto toRem(10);
        label {
          cursor: pointer;
        }
        i {
          font-size: toRem(20);
        }

        .top-nav-item__title {
          position: absolute;
          left: 50%;
          font-size: toRem(14);
          padding: toRem(3) toRem(8);
          border-radius: 3px;
          white-space: nowrap;
          transform: translate(-50%, 0) scaleY(0);
          opacity: 0;
          transition: 0.3s;
          transform-origin: top;
        }

        i:hover ~ .top-nav-item__title {
          transform: translate(-50%, 0) scaleY(1);
          opacity: 1;
        }
      }

      .auth-btn__wrap {
        .top-nav-item__title {
          margin-top: -3px;
        }
        i {
          font-size: toRem(24);
        }
      }

      .top-nav__cart {
        position: relative;
        background-color: unset;

        .top-nav-cart-wrap {
          transform: scale(0);
          opacity: 0;
          transition: transform 0.4s;
          transform-origin: top right;

          z-index: $top-nav-zindex + 2;
        }

        span {
          position: absolute;
          right: 0;
          top: 0;
          display: inline-block;
          transform: translate(70%, -40%);

          width: toRem(25);
          height: toRem(25);
          line-height: toRem(21.5);
          border-radius: 50%;

          user-select: none;
          font-size: toRem(12);
          font-weight: 700;
          color: white;
          background-color: $primary-color;
        }
      }
      // ennd of top nav cart
    }

    @media (max-width: 768px) {
      flex-direction: column;
      // align-items: stretch;

      .search-wrap {
        width: 100%;
        // margin: toRem(8) 0;
      }

      .top-nav-btn-wrap {
        display: none;
      }
    }
  }
  // end of contianer
}

.top-nav-item:hover {
  & > a,
  & i {
    transition: color 0.2s;
  }
  & > a {
    color: $primary-color !important;
  }

  & i {
    color: $primary-color !important;
  }
}
