@import 'src/variable.scss';

.loading-component {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $loading-zindex;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
}
