$purple-color: #800080;
$light-purple-color: #b300b3;
$blue-text-color: #0fbdf2;

$yellow-color: #f5cf45;
$pink-color: rgb(219, 112, 147);

$primary-color: rgb(230, 150, 70);
$primary-color1: rgb(70, 70, 70);
$primary-color2: rgb(250, 175, 100);

// z-index:

$home-banner-zindex: 1;
$filter-wrap-zindex: 2;
$product-item-zindex: 2;
$top-nav-cart-zindex: 2;

$scroll-to-top-zindex: 12;
$auth-form-zindex: 10;
$top-nav-zindex: 10;
$top-nav-rps-zindex: 10;

$checkout-infor-zindex: 20;
$loading-zindex: 30;
