@import "src/variable.scss";

.home-page {
  .product-banner {
    width: 100%;
    background-color: red;
    overflow: hidden;
    margin: 6rem auto 0;

    img {
      width: 100%;
      transition: transform 4s;
      transition-timing-function: ease-out;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
}
